In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [3]:
data = pd.read_csv("dataset.csv")

In [5]:
data

         Height     Weight     Sex
0    146.323241  59.861065  Female
1    175.695412  77.863687    Male
2    183.216164  72.131992    Male
3    184.245269  77.546000    Male
4    132.302261  55.188496  Female
..          ...        ...     ...
200  155.090314  77.248911  Female
201  149.175907  93.231692    Male
202  168.030874  63.640623  Female
203  172.608090  55.189983    Male
204  145.082128  45.583285  Female

[205 rows x 3 columns]

In [7]:
data.shape

(205, 3)